// Body
// $enable-rounded: true;
// $info:red;
// $blue: #dc2d1a;

$primary: #4468E2;
// $info: #dcad1a;

$border-radius: 5px;

//fonts
$font-family-base: "Montserrat", sans-serif;

//gutter
$grid-gutter-width: 16px;

//link
$link-decoration: none;
$navbar-light-color: $textClr;
$navbar-light-active-color: $textClr;

//button

//
// $input-btn-padding-y:7px;
// $input-btn-padding-x:25px;
$input-btn-focus-box-shadow: 0 0 transparent;
