@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('proximaNova/ProximaNovaA-Light.woff2') format('woff2'),
        url('proximaNova/ProximaNovaA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('proximaNova/ProximaNova-Bold.woff2') format('woff2'),
        url('proximaNova/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('proximaNova/ProximaNova-Regular.woff2') format('woff2'),
        url('proximaNova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('proximaNova/ProximaNovaA-Bold.woff2') format('woff2'),
        url('proximaNova/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}