footer.te-footer {
.footer-info{
    margin-top: 178px;
    background-color: #E1E8F8; 
    border-radius: 18px;
    height: auto;
    .copyright{
      color: #000000;
      padding: 76px 0;
    }
    .footer-nav{
        
        ul {
                padding: 76px 0;
            @include media-breakpoint-up(sm){
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 76px 0;
            }
            
            li {
                    line-height: 40px;
                @include media-breakpoint-up(sm){
                    text-decoration: none;
                    list-style: none;
                }
                
    
                a {
                    color: #000000;
                    font-size: 20px;
                    line-height: 29px;
                  }
            }
          }
    }
    .social-icon{
        padding: 66px 0;
        .fa-facebook {
            color: #000000;
            font-size: 44px;
        }
        .fa-linkedin{
            color: #000000;
            font-size: 44px;
        }
        .fa-instagram{
            color: #000000;
            font-size: 44px;  
        }
    }
}   
}
