@import "fonts-montserrat";
//@import "fonts-proximaNova";
// Variables
@import "md_variables";
@import "variables";

// scss-docs-start import-stack
@import "~bootstrap/scss/bootstrap";

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "header";
@import "footer";

body{
  font-family: "montserrat";
}

#te-page-index {
  .home-banner{
    .bannerimg{
      position: relative;
      overflow: hidden;
      padding: 265px 0;
      img{
         position: absolute;
         top:0;
         width: 100%;
         height: 100%;
         border-radius: 18px;
         object-fit: cover;
       }
    }
  }
  .travel-info{
     padding: 178px 0;
  .box-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cmn-box{
      background-color: #fff;
      padding: 29px 26px;
      box-shadow: 10px 40px 50px #E5E9F666;
      max-width: 369px;
      width: 100%;
      opacity: 1;
      .cmn-imgbox{
        max-width: 103px;
        width: 100%;
        height: 97px;
        border-radius: 12px;
        background-color: #EBF0FE;
        box-shadow: 0px 3px 6px #F0F4FC;
        opacity: 0.75;
        img{
          padding:14px 25px;
          object-fit: cover;
        }
      }
      .card-title{
        color: #0F0F0F;
        margin-bottom: 22px;
      }
      .card-text{
        color: #0F0F0F;
        font-size: 20px;
      }
    }
   }
 } 

 .destination{
   padding: 64px 0;
   background-color: #F1FAFF;
   .tour-heading{
     padding: 64px 0;
     color: #000000;
     text-align: center;
    }
    .tab-section{
      display: flex;
      align-items: center;
      justify-content: center;
    .tour-title{
      color: #163235;
      font-size: 22px;
    &.menu-first{
      position: relative;
      &::after{
        content: "";
          position: absolute;
          left: 15px;
          bottom: 0;
          background-color: #163235;
          height: 5px;
          width: 221px; 
       }
      }  
     }  
    }
    .holiday-section{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
    .destination-card{
      padding-top: 64px;
      max-width: 552px;
      .des-fig{
        margin: 0;
        width: 100%;
        height: 398px;
        overflow: hidden;
        margin: 0 0 17px 0;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-shadow: 0px 4px 6px #00000029;
          border-radius: 15px;
        }
      }

      .destination-card-body{
      .card-title{
        color: #163235;
      }
      .card-text{
        color: #163235;
        font-size: 20px;
       }
       .tour-icon{
        img{
         width: 33px;
         height: 33px;
        } 
       }
       .price{
         color: #163235;
         font-size: 31px;
       }
         .dist-text{
           color: #163235;
           font-size: 22px;
         }
         .stay-text{
           color: #163235;
           font-size:22px;
         }
      } 
     }
    } 
   }

   .blog-box{
    padding: 178px 0;
    background-color: #fff;
     .blog-heading{
      color: #000000;
      text-align: center;
     }
     .blog-section{
       padding-top: 71px;
       display: flex;
     .blog-img{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          border-radius: 15px;
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 1;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          background: #4141417A 0% 0% no-repeat padding-box;
          border-radius: 15px;

        }
        .blog-text{
          font-size: 50px;
          color: #fff;
          position: absolute;
          z-index: 2;
          text-align: center;
          font-weight: bold;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.blog-img1{
          max-width: 930px;
          height: 587px;
        }
      } 
      .blog-img-rightbox{
         flex:auto;
         margin-left: 36px;
        .blog-img{
          max-width: 785px;
          width: 100%;
          height: 277px;
          margin-bottom: 33px;
         
          .blog-text{
            font-size: 35px;
          }
        }
      }
     } 
   } 
   .box-review{
   .review-heading{
     color:#000000;
     text-align: center;
     font-weight: bold; 
   }
   .cmn-review{
    margin-top: 71px; 
    max-width: 918px;
    width: 100%;
    height: 417px; 
    background-color:#fff; 
    box-shadow: 10px 40px 50px #E5E9F666;
    border-radius: 18px;
    .review-icon{
      padding-top: 70px; 
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      img{
        width: 53px;
        height: 42px;
      }
      .cmn-review-text{
        color: #000000;
        font-size: 20px;
        max-width: 805px;
        width: 100%;
      }
      .cust-detail{
        display: flex;
        img{
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 72px;
        }
        .custinfo{
          padding-left: 20px;
          .custname{
            color: #000000;  
          }
          .designation{
            color: #848484;
          }
        }
      }
    }
   }
  }
  }
.container-fluid{
     @include media-breakpoint-up(xl){
       padding: 0 70px;
    }
}