<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Travel To Explore</title>

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous" />
</head>

<body>

    <% include /src/include/header.ejs %>

        <main id="te-page-index">

            <section class="home-banner">
                <div class="container-fluid">
                   <div class="bannerimg">
                      <img src="../images/banner.png" alt="home-banner" class="img-fluid">
                      <div class="banner-content">
                        <div class="banner-text-block text-center">
                          <h2>TRAVEL TO EXPLORE</h2>
                          <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ultricies Mi Eget Mauris Pharetra.</p>
                        </div>
                        <div class="banner-form">
                          <div class="row">
                            <div class="search-form-box col-md-6 col-lg-3">
                              <label class="form-label">Where You Want to go</label>
                              <input type="text" class="form-control form-search-control" placeholder="Search your location" aria-label="Search your location" aria-describedby="addon-wrapping">
                            </div>
                            <div class="search-form-box col-md-6 col-lg-3">
                              <label class="form-label">Check-in</label>
                              <input type="text" class="form-control" placeholder="Add date" aria-label="Add date" aria-describedby="addon-wrapping">
                            </div>
                            <div class="search-form-box col-md-6 col-lg-3">
                              <label class="form-label">Check-out</label>
                              <input type="text" class="form-control" placeholder="Add date" aria-label="Add date" aria-describedby="addon-wrapping">
                            </div>
                            <div class="col-md-12 col-lg-3">
                              <button class="btn btn-primary btn-block btn-expplore w-100 h-100">Explore Now</button>
                            </div>
                          </div>
                        </div>  
                      </div>
                   </div>
                </div>
             </section>

             <section class="travel-info">
                  <div class="container-fluid">
                    <div class="box-section">

                     <div class="cmn-box">
                       <div class="cmn-imgbox">
                         <img src="images/icon-1.png" alt="icon1">
                       </div>
                       <div class="card-body">
                        <h4 class="card-title">Get Best Prices</h4>
                        <p class="card-text">Pay through our application and save thousands and get amazing rewards</p>
                      </div>
                     </div>
                     
                     <div class="cmn-box">
                        <div class="cmn-imgbox icn2">
                          <img src="images/icon-2.png" alt="icon2">
                        </div>
                        <div class="card-body">
                         <h4 class="card-title">Covid Safe</h4>
                         <p class="card-text">We have all the curated hotels that have all the precaution for a corvid safe environment</p>
                       </div>
                    </div>

                    <div class="cmn-box">
                        <div class="cmn-imgbox icn3">
                          <img src="images/icon-3.png" alt="icon3">
                        </div>
                        <div class="card-body">
                         <h4 class="card-title">Flexible Payment</h4>
                         <p class="card-text">Enjoy the flexible payment through our app and get rewards on every payment</p>
                       </div>
                    </div>

                    <div class="cmn-box">
                        <div class="cmn-imgbox icn4">
                          <img src="images/icon-5.png" alt="icon3">
                        </div>
                        <div class="card-body">
                         <h4 class="card-title">Find The Best Near You</h4>
                         <p class="card-text">Find the best hotels and places to visit near you in a single click</p>
                       </div>
                    </div>

                    </div>
                  </div>
             </section>

             <section class="destination">
                <div class="container-fluid">
                   <h2 class="tour-heading">Recommended Destination</h2>
                 <div class="tab-section">
                   <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tour-title menu-first" id="weekend-break-tab" data-bs-toggle="pill" data-bs-target="#weekend-break" type="button" role="tab" aria-controls="weekend-break" aria-selected="true">The Weekend Break</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tour-title" id="package-holiday-tab" data-bs-toggle="pill" data-bs-target="#package-holiday" type="button" role="tab" aria-controls="package-holiday" aria-selected="false">The Package Holiday</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link tour-title" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">The Group Tour</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tour-title" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Long Term Slow Travel</button>
                    </li>
                  </ul>
                </div>
                 
                <div class="tab-content" id="weekend-tabContent">
                 <div class="holiday-section tab-pane fade show active" id="weekend-break" role="tabpanel" aria-labelledby="weekend-break-tab">  

                 <div class="cmnbox-tourinfo destination-card">
                     <figure class="des-fig">
                        <img src="images/singapore.jpg" alt="Singapore">
                    </figure>
                    <div class="destination-card-body">
                        <h2 class="card-title">Singapore</h2>
                        <p class="card-text">Singapore, officially the Republic of Singapore, is a sovereign island city-state in maritime Southeast Asia.</p>
                        <div class="d-flex justify-content-between">
                          <div class="right-info">
                            <span class="tour-icon"><img src="images/icon1.png" alt="icon1"></span>
                            <span class="tour-icon"><img src="images/icon2.png" alt="icon2"></span>
                            <span class="tour-icon"><img src="images/icon3.png" alt="icon3"></span>
                          </div>

                          <div class="left-info price">
                            ₹ 38,800   
                          </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                              <span class="dist-text">1000 Kms</span>
                            </div>
                            <div>
                              <span class="stay-text">Approx 2 night trip</span>  
                            </div>
                           </div>
                    </div>
                 </div>

                 <div class="cmnbox-tourinfo destination-card">
                    <figure class="des-fig">
                       <img src="images/thailand.jpg" alt="Thailand">
                   </figure>
                   <div class="destination-card-body">
                       <h2 class="card-title">Thailand</h2>
                       <p class="card-text">Thailand is a Southeast Asian country. It's known for tropical beaches, opulent royal palaces</p>

                       <div class="d-flex justify-content-between">
                        <div class="right-info">
                          <span class="tour-icon"><img src="images/icon1.png" alt="icon1"></span>
                          <span class="tour-icon"><img src="images/icon2.png" alt="icon2"></span>
                          <span class="tour-icon"><img src="images/icon3.png" alt="icon3"></span>
                        </div>

                        <div class="left-info price">
                          ₹ 38,800   
                        </div>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span class="dist-text">1000 Kms</span>
                        </div>
                        <div>
                          <span class="stay-text">Approx 2 night trip</span>  
                        </div>
                       </div>
                   </div>
                 </div>

                <div class="cmnbox-tourinfo destination-card">
                    <figure class="des-fig">
                       <img src="images/paris.jpg" alt="Paris">
                   </figure>
                   <div class="destination-card-body">
                       <h2 class="card-title">Paris</h2>
                       <p class="card-text">Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture.</p>
                       <div class="d-flex justify-content-between">
                        <div class="right-info">
                          <span class="tour-icon"><img src="images/icon1.png" alt="icon1"></span>
                          <span class="tour-icon"><img src="images/icon2.png" alt="icon2"></span>
                          <span class="tour-icon"><img src="images/icon3.png" alt="icon3"></span>
                        </div>
                        <div class="left-info price">
                          ₹ 38,800   
                        </div>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span class="dist-text">1000 Kms</span>
                        </div>
                        <div>
                          <span class="stay-text">Approx 2 night trip</span>  
                        </div>
                       </div>
                   </div>
                </div>

                <div class="cmnbox-tourinfo destination-card">
                    <figure class="des-fig">
                       <img src="images/newzeland.jpg" alt="New Zealand">
                   </figure>
                   <div class="destination-card-body">
                       <h2 class="card-title">New Zealand</h2>
                       <p class="card-text">New Zealand is an island country in the southwestern Pacific Ocean. It consists of two main landmasses</p>
                       <div class="d-flex justify-content-between">
                        <div class="right-info">
                          <span class="tour-icon"><img src="images/icon1.png" alt="icon1"></span>
                          <span class="tour-icon"><img src="images/icon2.png" alt="icon2"></span>
                          <span class="tour-icon"><img src="images/icon3.png" alt="icon3"></span>
                        </div>
                        <div class="left-info price">
                          ₹ 38,800   
                        </div>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span class="dist-text">1000 Kms</span>
                        </div>
                        <div>
                          <span class="stay-text">Approx 1 night trip</span>  
                        </div>
                       </div>
                   </div>
                </div>

                <div class="cmnbox-tourinfo destination-card">
                    <figure class="des-fig">
                       <img src="images/bora.jpg" alt="Bora-Bora">
                   </figure>
                   <div class="destination-card-body">
                       <h2 class="card-title">Bora Bora</h2>
                       <p class="card-text">Bora Bora is a small South Pacific island northwest of Tahiti in French Polynesia. Surrounded by sand</p>
                       <div class="d-flex justify-content-between">
                        <div class="right-info">
                          <span class="tour-icon"><img src="images/icon1.png" alt="icon1"></span>
                          <span class="tour-icon"><img src="images/icon2.png" alt="icon2"></span>
                          <span class="tour-icon"><img src="images/icon3.png" alt="icon3"></span>
                        </div>
                        <div class="left-info price">
                          ₹ 38,800   
                        </div>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span class="dist-text">1000 Kms</span>
                        </div>
                        <div>
                          <span class="stay-text">Approx 2 night trip</span>  
                        </div>
                       </div>
                   </div>
                </div>
                
                <div class="cmnbox-tourinfo destination-card">
                    <figure class="des-fig">
                       <img src="images/singapore.jpg" alt="London">
                   </figure>
                   <div class="destination-card-body">
                       <h2 class="card-title">London</h2>
                       <p class="card-text">London, the capital of England and the United Kingdom, is a 21st-century city with history stretching</p>
                       <div class="d-flex justify-content-between">
                        <div class="right-info">
                          <span class="tour-icon"><img src="images/icon1.png" alt="icon1"></span>
                          <span class="tour-icon"><img src="images/icon2.png" alt="icon2"></span>
                          <span class="tour-icon"><img src="images/icon3.png" alt="icon3"></span>
                        </div>
                        <div class="left-info price">
                          ₹ 38,800   
                        </div>
                      </div>
                      <div class="d-flex justify-content-between">
                       <div>
                         <span class="dist-text">1000 Kms</span>
                       </div>
                       <div>
                         <span class="stay-text">Approx 3 night trip</span>  
                       </div>
                      </div>
                   </div>
                </div>

                </div>  
                </div> 

                <div class="tab-content" id="package-holiday-tabContent">
                  <div class="holiday-section tab-pane fade" id="package-holiday" role="tabpanel" aria-labelledby="package-holiday-tab">
                     test
                  </div>
                </div>

                </div> 
             </section>

             <section class="blog-box">
               <div class="container-fluid">
                   <h2 class="blog-heading">Blog</h2>

                   <div class="blog-section">

                      <div class="blog-img blog-img1">
                        <img src="images/blog1.jpg" alt="blog-image1">
                        <h2 class="blog-text">The Ultimate Guide<br>to Climbing<br>Mount Kilimanjaro</h2>    
                      </div>

                      <div class="blog-img-rightbox">

                         <div class="blog-img blog-img2">
                           <img src="images/blog2.jpg" alt="blog-image2">
                           <h3 class="blog-text">12 Things I’d Tell Any<br>New Traveler</h3>
                         </div>
                         
                         <div class="blog-img blog-img3">
                            <img src="images/blog3.jpg" alt="blog-image3">
                            <h3 class="blog-text">The Ultimate Packing List for<br>Female Travelers</h3>
                         </div>

                      </div>
                    </div>

               </div>
             </section>

             <section class="box-review">
               <div class="container-fluid">
                   <h2 class="review-heading">Happy Customers</h2>
                  <div class="row">
                   <div class="col-md-6">
                   <div class="cmn-review">
                      <div class="review-icon">
                        <img src="images/quote.png" alt="quote">
                        <p class="cmn-review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies mi eget mauris pharetra. Amet risus nullam eget felis eget nunc lobortis. Purus in massa tempor nec. Porta nibh venenatis cras sed. Viverra ipsum nunc aliquet bibendum enim. </p>
                        <div class="cust-detail">
                          <img src="images/customer.jpg" alt="customer">
                          <div class="custinfo">
                          <h4 class="custname">Shalini Singh</h4>
                          <h4 class="designation">Project Manger flyhigh</h4>
                          </div>
                        </div>
                      </div>
                   </div>
                   </div>
                   
                   <div class="col-md-6">
                   <div class="cmn-review">
                    <div class="review-icon">
                      <img src="images/quote.png" alt="quote">
                      <p class="cmn-review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies mi eget mauris pharetra. Amet risus nullam eget felis eget nunc lobortis. Purus in massa tempor nec. Porta nibh venenatis cras sed. Viverra ipsum nunc aliquet bibendum enim. </p>
                      <div class="cust-detail">
                        <img src="images/customer.jpg" alt="customer">
                        <div class="custinfo">
                        <h4 class="custname">Shalini Singh</h4>
                        <h4 class="designation">Project Manger flyhigh</h4>
                        </div>
                      </div>
                    </div>
                   </div>
                   </div>
                   </div>
                
                </div>
             </section>
        </main>

        <% include /src/include/footer.ejs %>

        <script src="js/home.js"></script>

</body>
</html>