<footer class="te-footer">
  <section class="footer-info">
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-4">
               <div class="copyright">
               <h4>Copyright © 2020 Travelo. All rights reserved</h4>
               </div>
           </div>
           <div class="col-md-5">
              <div class="footer-nav">
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Places</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </div>
           </div>
           <div class="col-md-3">
               <div class="social-icon">
                   <a href="#"><i class="fab fa-facebook"></i></a>
                   <a href="#"><i class="fab fa-linkedin"></i></a>
                   <a href="#"><i class="fab fa-instagram"></i></a>
               </div>
           </div>
       </div>
   </div>
   </section>
</footer>