<header class="te-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-col d-flex">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="display: flex;">
            <img src="../images/logo.png" alt="travel-logo">
            <h5 class="site-name">Travelo</h5>  
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Places</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Career</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
            </ul>
            <button class="btnconnect">Connect</button>
          </div>
        </div>
      </nav>
</header>